{% extends '::layout.html.twig' %}
        
{% block main %}

<link rel="stylesheet" href="{{ asset('/bundles/iarcompras/css/solicitud.css') }}" />

    <div class="row">
        <div class="step col-md-3 col-md-offset-1">
            <label>Paso 1</label>
        </div>
        <div class="step col-md-3">
            <label>Paso 2</label>
        </div>
        <div class="step col-md-3">
            <label>Paso 3</label>
        </div>
    </div>

{% endblock main %}
