
div.step {
    margin-right: 30px;
    border: 1px solid #5FD600;
    background-color: #FFFFEE;
    height: 600px;
}

div.container img.preview#selection-preview {
    margin-top: 40px;
    border: 1px solid #FFFFEE ;
    width:100%;
}
